extends layout

block content
	.container-fluid
		.row-fluid
			i.icon-bolt.icon-large
			a.btn.btn-primary
				i.icon-bolt.icon-large
				span Welcome {you}!
		.row-fluid.thumbnails.center
			.span4
				span Left menu

			.span8
				span Right side

		.row-fluid
		.row-fluid
